*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ohmycode';
    src: url('./../public/font/Luna.ttf.ttf');
}

body {
    background-color: #1E201F;
}

* p {
    font-size: large;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    animation: fadeInLeft;
    animation-duration: 1.5s;
}

header #logo a img {
    width: 10%;
}
header #logo a:hover img {
    transform: scale(2);
    transition-duration: 1s;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

header #lien,
header #logo {
    margin: 20px;
}

.btn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #E4ECEF;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    padding: 20px;
    margin: 20px;
}
  
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: 0.5s ease;
}
  
.btn:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
}

.btn:hover::before {
    width: 100%;
}
  
.btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: 0.4s ease;
    z-index: -1;
}
  
.btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}

#acceuil {
    background-image: url(../public/img/fond_montagne.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100vh;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bandeau{
    padding: 50px;
    width: 100%;
    background-color: rgba(140,151,155,0.1);
}

#contenuBandeau {
    text-align: center;
}

#contenuBandeau h1 {
    font-family: 'ohmycode';
    font-size: large;
    animation: zoomIn;
    animation-duration: 1.5s;
}

#contenuBandeau p {
    animation: zoomIn;
    animation-duration: 1.5s;
}

#contenuBandeau .containerDownload {
    margin: 50px;
}

#contenuBandeau .containerDownload .download-btn {
    text-decoration: none;
    color: #1e1e2b;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0 0 10px #1e1e2b;
}
#contenuBandeau .containerDownload .download-btn:hover i {
    transform: scale(1.5);
    padding: 5px;
    border-radius: 100%;
    transition-duration: 0.5s;
}

#contenuBandeau .containerDownload .download-btn:hover {
    background-color: #ffc506;
    transition-duration: 0.5s;
}

#presentation {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 100vh;

}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5%;
    margin: 10px;
}

#presentationText {
    grid-column: 1;
    padding: 10%;
    
}

#presentationText p {
    text-align: justify;
    color: #E4ECEF;
    line-height: 1.5;
    padding: 10px;
}

#presentationImg {
    grid-column: 2;
    padding: 10%;
}

#presentationImg img {
    border-radius: 100px;
}



.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
    transition-delay: var(
      --delay,
      0s
    ); /* Utilisation de la variable CSS pour le délai d'apparition */
  }
  
  .reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .reveal.disappear-up {
    opacity: 0;
    transform: translateY(-50px); /* Déplace l'élément vers le haut */
    transition: opacity 1s ease, transform 1s ease; /* Durée de transition sans délai */
  }
  
  .reveal.disappear-down {
    opacity: 0;
    transform: translateY(50px); /* Déplace l'élément vers le bas */
    transition: opacity 1s ease, transform 1s ease; /* Durée de transition sans délai */
  }
  